@import 'styles/_colours.scss';

#account-form {
  font-family: OpenSans-Regular;
  font-size: 14px;
  padding: 20px;
  color: $darkerGrey;
  line-height: 22px;
}

.account-form__divider {
  border-bottom: 1px solid $lighterGrey;
  margin: 0 -20px;
}

.account-form__heading {
  font-family: OpenSans-Bold;
  font-size: 22px;
  color: $primary;
  margin: 35px 0 20px;
}

.account-form__section-divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 10px 0;

  .account-form__section-divider__text {
    font-family: OpenSans-Regular;
    font-size: 12px;
    color: $lightGrey;
    white-space: nowrap;

    margin: 0 50px 0 0;
  }

  .account-form__divider {
    align-self: center;
    width: 100%;
  }
}

.account-form__label {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: $darkerGrey;

  display: block;
  margin-bottom: 5px;
}

.account-form__input {
  outline: none;
  border: 1px solid $lightGrey;
  border-radius: 3px;
  padding: 6px;
  width: 100%;
  max-width: 260px;

  &.account-form__select, &[type='date'] {
    max-width: 160px;
    background: url('../../assets/icons/select-dropdown-icon.svg') no-repeat right center;

    appearance: none;
  }
  &[type='date'] {
    padding: 5px;
  }

  &.account-form__textarea {
    min-height: 90px;
    resize: none;
  }

  margin-bottom: 15px;
}

.account-form__checkbox {
  margin: -5px 0 15px;



  display: flex;

  .account-form__checkbox-label {
    font-family: OpenSans-Regular;
    font-size: 10px;
    color: $darkerGrey;
    line-height: 18px;
  }

  .account-form__checkbox-input[type="checkbox"] {
    display: none;
  }

  .account-form__checkbox-input[type="checkbox"] + span {
    display: inline-block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    background: url('../../assets/icons/checkbox-off.svg') no-repeat;
  }

  .account-form__checkbox-input[type="checkbox"]:checked + span {
    background: url('../../assets/icons/checkbox-on.svg') no-repeat;
  }
}
